﻿@model IEnumerable<Entities.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AxtrionLayout.cshtml";
}

@section HeaderCss{
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/Responsive-tablet.css">
    <link rel="stylesheet" href="~/css/Responsive-phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@Html.Partial("_CreateUserPopup", new Entities.UserAddModel())
@Html.Partial("_Navigation")

<div id="top" class="top-div">
    <div class="header">
        <h1 class="header-users users">Users</h1>
    </div>
    <div class="add-user">
        <div class="user-button" onclick="createUser()">
            <p class="user-text">Add new user</p>
        </div>
        <div class="search-box">
            <div class="search-together">
                <div class="search-button">
                    <button class="submit-button"><i class="fa fa-search"></i></button>
                    <input type="text" placeholder="Search.." class="search--button">
                </div>
            </div>
        </div>
    </div>
    <div class="client-users">
        <div class="clients">
            <h2 class="client-text">Client Users</h2>
        </div>
        <div class="back-end">
            <h2 class="backend-text">Back-end TM</h2>
        </div>
        <div class="sort">
            <h2 class="sort-text">sort by: <button class="button-arrow">Name<i style="font-size:16px" class="fa">&#xf0d7;</i></button></h2>
        </div>
    </div>
    <div id="bottom" class="bottom-div">

        @foreach (var user in Model)
        {
            <div class="user-project">
                <p class="bolded-name">@user.UserName</p>
                <p class="project-name">Project: @user.Project.Name</p>
                <p class="position-name">Position in project: @user.Position.ToString()</p>
            </div>
        }

    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}

