﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    @RenderSection("HeaderCss", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - Axtriondigital</title>
</head>

<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>

</html>
