﻿@using Entities;
@model UserAddModel
@inject BusinessServices.Interfaces.IProjectService ProjectService
<div id="popup" class="popup">
    <div class="create__user">
        <div class="icons">
            <button class="user__button"> <i style="font-size:24px" class="fa fa-info-circle"></i></button>
            <button class="user__button button__user2"><i style="font-size:24px" class="fa fa-remove" onclick="hideUser()"></i> </button>
        </div>
        <div class="create__user-text">
            <h1 class="create-user-text">
                Create a new user
            </h1>
        </div>
        <div class="user__info">
            <form asp-controller="Users" asp-action="AddUser" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="user__photo">
                    <img src="~/Images/5-Users-screen_08.gif" alt="">
                    <p class="text-under-image">Add a user photo</p>
                </div>
                <div class="user__informations">
                    <p class="user__info-text">
                        <span class="user-info-bold">User Name:</span>
                        <input name="UserName" placeholder="Enter name of user here" class="form-control" />
                    </p>
                    <p class="user__info-text">
                        <span class="user-info-bold">
                            Project: <select asp-for="ProjectId" asp-items="@ProjectService.GetAllProjects().Select( c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString() } ).ToList()"></select>
                        </span>
                    </p>
                    <p class="user__info-text">
                        <span class="user-info-bold">Position in project:</span>
                        <select asp-for="Position" asp-items="Html.GetEnumSelectList<Position>()"></select>
                    </p>
                    <p class="user__info-text"><span class="user-info-bold">Contract:</span>  Attached <i class="fa fa-paperclip" style="font-size:19px;color:blue"></i></p>
                </div>
                <div class="cancel__save">
                    <button type="submit" id="save" class="casa save"> Save</button>
                    <button type="button" id="cancel" class="casa cancel" onclick="hideUser()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}