﻿<div id="navigation" class="nav-left">
    <!--       navigation background: #1D1D1D-->
    <div class="nav-background">
        <div class="nav-images">
            <!--first image-->
            <a href="/login.html"><img src="~/Images/5-Users-screen_01.gif" class="nav-pic"></a>

            <!--second image-->
            <a href="/index.html"><img src="~/Images/5-Users-screen_03.gif" class="nav-pic"></a>

            <!--third image-->
            <a href=""><img src="~/Images/5-Users-screen_07%20.gif" class="nav-pic"></a>

            <!--fourth image-->
            <a href=""><img src="~/Images/5-Users-screen_05.gif" class="nav-pic"></a>
        </div>
    </div>
</div>