﻿@using Entities;
@model Project


<div id="popup" class="popup" style="display: none;">
    <div class="projects-divs">
        <div class="icons">
            <div class="icons">
                <button class="user__button"> <i style="font-size:24px" class="fa fa-info-circle"></i></button>
                <button class="user__button button__user2"><i style="font-size:24px" class="fa fa-remove" onclick="hideUser()"></i> </button>
            </div>
            <div class="create__user-text">
                <h1 class="create-user-text">
                    @Html.DisplayFor(model => model.Name)
                </h1>
            </div>
            <div class="desc">
                <h2 class="decription">Description:</h2> <p>  @Html.DisplayFor(model => model.Description) </p>

                <h2 class="decription2">Status:<span class="desc-span">@Html.DisplayFor(model => model.Status)</span></h2>

                <h2 class="decription2">Client info: </h2>
                <p>Name: @Html.DisplayFor(model => model.ClientInfo.Name) </p>
                <p>Organisation: @Html.DisplayFor(model => model.ClientInfo.Orgranization)</p>

                <p>
                    Contacts:

                    @foreach (var contact in Model.Contacts)
                    {
                        <i class="fa fa-phone"></i> @contact.ContactName <br />
                    }
                </p>

                <h2 class="decription2"> Address: <span class="desc-span">@Html.DisplayFor(model => model.Address)</span></h2>

                <h2 class="decription2"> Team leader: <span class="desc-span">@Html.DisplayFor(model => model.TeamLeader)</span></h2>

                <h2 class="decription2"> Project manager: <span class="desc-span">@Html.DisplayFor(model => model.ProjectManager)</span></h2>

                <h2 class="decription2"> Start date: <span class="desc-span">@Html.DisplayFor(model => model.StartDate)</span></h2>

                <h2 class="decription2"> End date: <span class="desc-span">@Html.DisplayFor(model => model.EndDate)</span></h2>

                <h2 class="decription2"> Users in project: </h2>

                <div class="users-in-proj">

                    @foreach (var user in Model.Users)
                    {
                        <p class="proj-users"> @user.UserName <i class="fa fa-comments"></i></p>
                    }
                </div>

                <h2 class="decription2"> Files &amp; documents:</h2>

                <p>Contract: <i class="fa fa-file-archive-o" style="color:blue"></i></p>

                <h2 class="decription2"> Filters:</h2>

                <div class="filterss">
                    <p class="proj-users userss2">Added filter <i class="fa fa-remove remove2"></i></p>
                    <p class="proj-users userss2">
                        Added filter<i class="fa fa-remove remove2"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


