﻿@model IEnumerable<Axtriondigital.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_AxtrionLayout.cshtml";
}


@section HeaderCss{
    <link rel="stylesheet" href="~/css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/projects-responsive-tablets.css">
}

<div id="dialog"></div>

<section id="left-section">
    <div class="background">
        <div class="images">
            <img src="~/Images/5-Users-screen_01.gif" class="image-one">
            <img src="~/Images/5-Users-screen_07.gif" class="image-one">
            <img src="~/Images/5-Users-screen_04.gif" class="image-one">
            <img src="~/Images/5-Users-screen_05.gif" class="image-one">
        </div>
    </div>
</section>

<section id="right-section">
    <div class="projects-header">
        <h1 class="header">Projects</h1>
    </div>
    <div class="current-projects">
        <h2 class="current">
            Current projects
        </h2>
        <i style="font-size:15px ; color: #8E8E8E" class="fa">&#xf0c9;</i>
        <i style="font-size:15px" class="fa">&#xf009;</i>
        <h2 class="sort-by">Sort by:</h2>
        @Html.ActionLink("Name", "projectlist", new { sortOrder = ViewBag.NameSortParm }, new { id = "Sort", @class = "sort-button2" })
        <i class="fa fa-caret-down"></i>
        <div style="float:right;width: 269px;">
            <form asp-controller="Projects" asp-action="projectlist">
                <div>
                    <span>
                        Title:
                    </span>
                    <input type="text" placeholder="Search.." name="SearchString">
                    <input type="submit" value="Filter" />
                </div>
            </form>
        </div>
    </div>
    <div class="projects-div">
        @foreach (var pr in Model)
        {
            <div class="projects--div">
                <p class="project-text">
                    <button id="btndetail" class="i-word" onclick="showProject(@pr.ProjectId);">i</button> @pr.ProjectName
                </p>
                <div class="projects---div">
                    <img src="/Images/6-BETM-Projects-screen_08.gif" class="project-image">
                    <div class="image-overlay">
                        <p class="project-name-overlay">@pr.ProjectName</p>
                    </div>
                </div>
            </div>
        }

    </div>
</section>


@section Scripts{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  
    <script src="~/js/projects.js"></script>  
}

