@media only screen and (min-width: 320px) and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;

    }

    #left-section {
        position: fixed;

    }

    .background {
        width: 60px;
        max-width: 60px;
        height: 120vh;
        max-height: 100%;
        background-image: url(Images/5-Users-screen_06.gif);
    }

    .image-one {
        width: 60px;
    }

    /*right section*/
    #right-section {
        width: 95%;
        float: right;
        position: absolute;
        left: 60px;

    }

    .projects-header {
        width: 100%;
        height: 85px;
    }

    .header {
        text-align: center;
        position: relative;
        top: 30%;
        font-size: 20px;
    }

    .current-projects {
        width: 92vw;
        display: inline-block;
        float: left;

    }

    .current {
        float: left;
        font-size: 20px;
    }

    .fa {
        margin-top: 8px;
        margin-left: 20px;
        margin-right: -15px;

    }

    /*sort by*/
    .sort-by {
        display: inline-block;
        position: relative;
        right: 40px;

    }

    .sort-button2 {
        background: white;
        border: none;
        position: relative;
        left: -40px;
    }

    .fa-caret-down {
        margin-left: -2px;
    }

    /*search*/
    .search {
        height: 30px;
        position: absolute;
        left: 87.5%;
        top: 115px;
        float: right;

    }

    .search-box {
        width: 80px;
        height: 25px;
        border: 1px solid #8E8E8E;
        border-left: none;
        border-right: none;
        position: relative;
        top: -30px;
    }

    .search-button {
        width: 30px;
        height: 27px;
        display: inline-block;
        position: relative;

        right: 30px;
        border: 1px solid #8E8E8E;
        border-right: none;
        border-radius: 20px 0 0 20px;
        background: white;

    }

    .image-two {
        width: 100%;
        height: 100%;

    }

    .projects-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 40px;

    }

    .projects--div {
        width: 33%;
        max-width: 33%;
        height: auto;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
        position: relative;
        left: 25px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .projects---div {
        width: 100%;
        height: 75%;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
        z-index: 4;
    }
    .project-image {
        width: 88%;
        height: 88%;
        position: relative;
        left: 5%;
        top: 6%;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
    }
    .image-overlay {
        width: 88%;
        height: 66%;
        position: absolute;
        left: 5%;
        bottom: 28%;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
        background: #e2e2e2;
        opacity: 0.9;
        display: none;
    }
    .project-text {
        text-align: center;
        position: absolute;
        bottom: 3%;
        left: 10%;
        font-size: 13px;

    }
    .project-name-overlay {
        font-size: 15px;
        color: black;
        position: absolute;
        top: 35%;
        left: 15%;
    }
    .projects--div:hover {
        background: black;

    }

    .projects--div:hover .projects---div {
        background: white;
    }
    .projects--div:hover .image-overlay {
        display: block;

    }
    .projects--div:hover .i-word {
        display: block;
        z-index: 20;
        position: relative;
        top: 20px;
    }
    .i-word {
        width: 20px;
        height: 20px;
        border: none;
        background: white;
        border-radius: 50px;
        display: none;
        position: absolute;
        left: 50%;
        bottom: 8%;
        font-family: monospace;
        font-size: 15px;

    }

    .popup {
        width: 130vw;
        height: 130vh;
    }
    .projects-divs {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .fa-phone {
        color: green;
        margin-right: 1px;
    }

    .remove2 {
        margin: 0;
        color: white;
    }
    .fa-comments {
        margin-left: 5px;
        margin-top: 2px;
    }
    .proj-users {
        width: 100px;
    }
}

/*oprezno*/

@media only screen and (min-width: 450px) and (max-width: 800px) {
    .popup {
        width: 130vw;
        height: 130vh;
        display: none;
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        z-index: 10;
    }
    .projects-divs {
        width: 60%;
        height: 70%;
        position: absolute;
        left: 16%;
        top: 10%;
    }
    .fa-phone {
        color: green;
        margin-right: 1px;
    }

    .remove2 {
        margin: 0;
        color: white;
    }
    .fa-comments {
        margin-left: 5px;
        margin-top: 2px;
    }
    .proj-users {
        width: 100px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .projects--div {
        width: 30%;
        max-width: 100%;
        height: 200px;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
        position: relative;
        left: 25px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .projects-div {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 40px;
    }
    .popup {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        z-index: 10;
    }
    .projects-divs {
        width: 60%;
        height: 70%;
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .fa-phone {
        color: green;
        margin-right: 1px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1360px) {
    .projects--div {
        width: 20%;
        max-width: 100%;
        height: 200px;
        border: 1px solid #8E8E8E;
        border-radius: 10px;
        position: relative;
        left: 25px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .projects-div {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 40px;
    }

    .projects-div {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 40px;
    }
    .popup {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        z-index: 10;
    }
    .projects-divs {
        width: 60%;
        height: 70%;
        position: absolute;
        left: 30%;
        top: 10%;
    }
    .fa-phone {
        color: green;
        margin-right: 1px;
    }

    .remove2 {
        margin: 0;
        color: white;
    }
    .fa-comments {
        margin-left: 5px;
        margin-top: 2px;
    }
    .proj-users {
        width: 100px;
    }
}
