* {
    margin: 0;
    padding: 0;

}

#left-section {
    position: fixed;
}

.background {
    width: 60px;
    max-width: 60px;
    height: 100vh;
    max-height: 100%;
    background-image: url(Images/5-Users-screen_06.gif);
}

.image-one {
    width: 60px;
}

/*right section*/

#right-section {
    width: 95%;
    float: right;
}

.projects-header {
    width: 100%;
    height: 85px;
}

.header {
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 40px;
}

.current-projects {
    width: 92vw;
    display: inline-block;
    float: left;
    margin-left: 40px;
}

.current {
    float: left;
}

.fa {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: -15px;

}

/*sort by*/

.sort-by {
    display: inline-block;
    margin-left: 70px;
}

.sort-button2 {
    background: white;
    border: none;
}

.fa-caret-down {
    margin-left: -2px;
}

/*search*/

.search {
    height: 30px;
    position: absolute;
    left: 87.5%;
    top: 95px;
    float: right;

}

.search-box {
    height: 25px;
    border: 1px solid #8E8E8E;
    border-left: none;
    border-right: none;
    position: relative;
    top: -30px;
    z-index: -1;
}

.search-button {
    width: 30px;
    height: 27px;
    display: inline-block;
    position: relative;

    right: 30px;
    border: 1px solid #8E8E8E;
    border-right: none;
    border-radius: 20px 0 0 20px;
    background: white;

}

.image-two {
    width: 100%;
    height: 100%;

}

.projects-div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 40px;
}

.projects--div {
    width: 14%;
    max-width: 14%;
    height: 200px;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    position: relative;
    left: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.projects---div {
    width: 100%;
    height: 75%;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    z-index: 4;
}
.project-image {
    width: 88%;
    height: 88%;
    position: relative;
    left: 5%;
    top: 6%;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
}
.image-overlay {
    width: 88%;
    height: 66%;
    position: absolute;
    left: 5%;
    bottom: 28%;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    background: #e2e2e2;
    opacity: 0.9;
    display: none;
}
.project-text {
    position: absolute;
    bottom: 10px;
    left: 15%;
    
}
.project-name-overlay {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 35%;
    left: 15%;
}
.projects--div:hover  {
    background: black;
 
}

.projects--div:hover .projects---div {
    background: white;
}
.projects--div:hover .image-overlay {
    display: block;
    
}
.projects--div:hover .i-word {
    display: block;
    z-index: 20;
}
.i-word {
    width: 30px;
    height: 30px;
    border: none;
    background: white;
    border-radius: 50px;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 8%;
    font-family: monospace;
    font-size: 20px;
    
}
/*popup*/

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
  
}
.popup-bg {
    width: 100%;
    height: 100%;

}
.projects-divs {
    width: 30vw;
    height: 85vh;
    background: white;
    position: relative;
    left: 38%;
    top: 10vh;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    overflow: scroll;
    overflow-x: hidden
    
}
.icons {
    width: 90%;
    height: 40px;
    padding: 0px 10px 0 10px;
}


.fa-remove,
.fa-info-circle {
    color: #3c3c3c;
    z-index: 200;
}
.fa-exclamation-circle {
    margin-left: 30px;
}

.user__button {
    background: white;
    border: none;
}

.button__user2 {
    float: right;
}
.create__user-text {
    width: 70%;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50px;
}

.create-user-text {
    color: #3c3c3c;
    font-size: 25px;
    z-index: -20;
}
.desc {
    width: 100%;
    height: 150px;
    margin-top: 30px;
}
.decription {
    font-size: 15px;
}
.decription2 {
    font-size: 15px;
    margin-top: 10px;
}
.desc-span {
    font-size: 14px;
    font-weight: 100;
    margin-left: 20px;
}
.fa-phone {
    color: green;
    margin-right: 1px;
}

.users-in-proj {
    display: flex;
}
.proj-users {
    margin-top: 5px;
    padding: 2px 0 0 6px;
    width: 129px;
    height: 25px;
    border: 1px solid;
    border-radius: 20px;

    background: black;
    color: white;
}
.fa-comments {
    margin-left: 5px;
    margin-top: 2px;
}
.remove2 {
    margin: 0;
    color: white;
}
.filterss {
    display: flex;
    
}
.userss2 {
    background: #EC6446;
}