@media screen and (min-width:800px) and (max-width: 1200px) {

    .nav-background {
        width: 8vw;
        max-width: 8vw;
    }
    .nav-left {
    
    }
    /*    top div */
    .top-div {
        width: 100%;
    }
    .header {
        width: 100%;
        height: 135px;

    }
    .add-user {
        width: 90vw;
        position: relative;
        left: 11vw;
    }
    .user-button {
        width: 150px;
        height: 50px;
    }
    .submit-button {
        position: absolute;
        right: 100px;
        border: 1px solid #1D1D1D;
        border-right: none;
    }
    .search--button {
        width: 100px;
        border: 1px solid #1D1D1D;
        border-left: none;
        border-right: none;
    }
    .client-users {
        width: 88vw;
        height: 60px;
        position: relative;
        overflow: hidden;
    }
    .clients, .back-end, .sort {
        width: 23%;
    }
    .client-text, .backend-text, .sort-text {
        font-size: 100%;
    }
    .bottom-div {
        width: 90%;
        position: relative;
        left: 10vw;
        top: 100px;
        
    }
    .user-project {
        width: 300px;
        text-align: center;
    }
    .bolded-name {
        display: inline-block;
        
    }
}
@media screen and (max-width:533px) and (max-height: 853px) {

    .nav-background {
        width: 10vw;
        max-width: 10vw;
    }
    /*    top div */
    .top-div {
        width: 100%;
    }
    .header {
        width: 100%;
        height: 90px;

    }
    .add-user {
        width: 90vw;
        position: relative;
        left: 10vw;
    }
    .user-button {
        width: 150px;
        height: 40px;
    }
    .submit-button {
        position: absolute;
        right: 100px;
        border: 1px solid #1D1D1D;
        border-right: none;
        bottom: 22px;
    }
    .search--button {
        width: 100px;
        border: 1px solid #1D1D1D;
        border-left: none;
        border-right: none;
        bottom: 22px;
    }
    .client-users {
        width: 90vw;
        height: 45px;
        position: relative;
        left: 10vw;
        z-index: 20;
    }
    .clients, .back-end, .sort {
        width: 30%;
    }
    .client-text, .backend-text, .sort-text {
        font-size: 18px;
    }
    .bottom-div {
        width: 90%;
        position: relative;
        left: 10vw;
        top: 50px;
        
    }
    .user-project {
        width: 300px;
        text-align: center;
    }
    .bolded-name {
        display: inline-block;
        
    }
}

