@media screen and (min-width:320px) and (max-width: 480px) {

    .nav-background {
        width: 12vw;
        max-width: 12vw;
        height: 120vh;
    }
    /*    top div */
    .top-div {
        width: 100vw;
    }
    .header {
        width: 90vw;
        height: 90px;
        position: relative;
        left: 14vw;
    }
    .users {
        font-size: 20px;
    }
    .add-user {
        width: 90vw;
        position: relative;
        left: 58px;

    }
    .user-button {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 0;
    }
    .user-text {
        font-size: 11px;
    }
    .submit-button {
        height: 20px;
        position: absolute;
        right: 100px;
        border: 1px solid #1D1D1D;
        border-right: none;
        bottom: 35px;
    }
    .search--button {
        width: 100px;
        height: 18px;
        border: 1px solid #1D1D1D;
        border-left: none;
        border-right: none;
        bottom: 35px;

    }
    .client-users {
        position: relative;
        left: 15vw;
    }
    .clients,
    .back-end,
    .sort {
        width: 30%;
    }
    .client-text,
    .backend-text,
    .sort-text {
        font-size: 15px;
    }
    .bottom-div {
        width: 90%;
        position: relative;
        top: 50px;

    }
    .user-project {
        width: 300px;
        text-align: center;
    }
    .bolded-name {
        display: inline-block;
        font-size: 13px;

    }
    /*    popup*/
    .popup {
        display: none;       
        z-index: 100;
        position: fixed;
        overflow-x: hidden;
    }
    .create__user {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    .user__info {
        position: relative;
        
        font-size: 20px;
    }
    .user__informations {
        position: relative;
        top: 100px;   
    }
    .user__photo {
        text-align: center;
        position: relative;
        top: 50px;
        width: 100vw;
    }
    .text-under-image {
        text-align: center;
    }
    /*    cancel/save*/
    .casa {
        width: 100px;
        position: relative;
        top: 100vw;
    }
}

@media screen and (min-width:481px) and (max-width: 850px)  {

    .nav-background {
        width: 12vw;
        max-width: 12vw;
        height: 800px;
    }
    /*    top div */
    .top-div {
        width: 100%;
    }
    .header {
        width: 88vw;
        height: 90px;
        position: relative;
        left: 12vw;
    }
    .users {
        font-size: 25px;
    }
    .add-user {
        width: 88vw;
        position: relative;
        left: 12vw;


    }
    .user-button {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 40px;
    }
    .user-text {
        font-size: 11px;
    }
    .submit-button {
        height: 20px;
        position: absolute;
        right: 80px;
        border: 1px solid #1D1D1D;
        border-right: none;
        bottom: 35px;
    }
    .search--button {
        width: 80px;
        height: 18px;
        border: 1px solid #1D1D1D;
        border-left: none;
        border-right: none;
        bottom: 35px;

    }
    .client-users {
        width: 88vw;
        height: 45px;
        position: relative;
        left: 12vw;
        overflow: hidden;
    }
    .clients,
    .back-end,
    .sort {
        width: 25%;

    }
    .client-text,
    .backend-text,
    .sort-text {
        font-size: 15px;
    }
    .bottom-div {
        width: 88vw;
        position: relative;
        left: 12vw;
        top: 50px;

    }
    .user-project {
        width: 300px;
        text-align: center;
    }
    .bolded-name {
        display: inline-block;
        font-size: 13px;

    }
    .popup {
    display: none;   
    width: 100vw;
    height: 110vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;

}

.create__user {
    width: 50vw;
    height: 27vh;
    background: white;
    position: relative;
    top: 10%;
    left: 35%;
    box-shadow: 1px 1px 15px #1D1D1D;
    border-radius: 20px;

}

.icons {
    width: 90%;
    height: 40px;
    padding: 10px 10px 0 10px;
}

.fa-remove {
    float: right;

}

.fa-remove,
.fa-info-circle {
    color: #3c3c3c;
    z-index: 200;
}
.fa-exclamation-circle {
    margin-left: 30px;
}

.user__button {
    background: white;
    border: none;
}

.button__user2 {
    float: right;
}

.create__user-text {
    width: 70%;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50px;
}

.create-user-text {
    color: #3c3c3c;
    font-size: 25px;
    z-index: -20;
}

.user__info {
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}
.user__photo {
    display: block;
    float: left;
    width: 14vw;
    height: 12vh;
}
.text-under-image {
    text-align: center;
    font-size: 16px;
    position: relative; 
    top: -10px;
}

.cancel__save {
    width: 100%;
    height: 40px;
}
.user-info-bold {
    font-weight: bold;
    margin-right: 10px;
}
.user__info-text{
margin-top: 10px;
}
/*cancel/save buttons*/
.cancel {
    background: white;
}
.save {
    background: black;
    color: white;
}
.casa {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid;
    float: right;
    margin-right: 10px;
    }
}