* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;


}

/*left navigation*/

.nav-left {
    width: 5vw;
    height: 100%;
    position: fixed;


}

.nav-background {
    width: 100%;
    height: 100%;
    background-image: url('/Images/5-Users-screen_06.gif');
}

.nav-images {
    width: 100%;
    height: 100%;
}

.nav-pic {
    width: 100%;
}

/*top part*/

.top-div {
    display: flex;
    flex-direction: column;
    float: right;
}

.header {
    width: 95vw;
    height: 16vh;
    display: inline-block;
    float: right;
}

.users {
    text-align: center;
    font-size: 40px;

}

.header-users {
    position: relative;
    top: 35%;
}

.add-user {
    width: 98%;
    height: 7vh;
    display: inline-block;
    position: relative;
    left: 24px;
}

.user-button {
    width: 15vw;
    height: 100%;
    background: #1D1D1D;
    border-radius: 50px;
    position: absolute;
    left: 40px;
    cursor: pointer;

}

.user-text {
    color: white;
    text-align: center;
    position: relative;
    top: 35%;
    cursor: pointer;
}

.search-box {
    width: 50%;
    height: 7vh;
    float: right;
    position: relative;
}

.search-together {
    background: white;
    height: 35px;
    position: absolute;
    bottom: 22px;
    right: -2px;
    top: 30px;


}

.submit-button {
    width: 30px;
    height: 32px;
    position: absolute;
    right: 180px;
    border: 1px solid #1D1D1D;
    border-right: none;
    border-radius: 20px 0 0 20px;
    background: white;
    bottom: 20px;
}

.search--button {
    height: 30px;
    width: 180px;
    border: 1px solid #1D1D1D;
    border-left: none;
    border-right: none;
    position: absolute;
    right: 0;
    bottom: 20px;

}

.client-users {
    width: 100%;
    height: 11vh;

}

.clients,
.back-end,
.sort {
    width: 13%;
    height: 100%;
    display: inline-block;
    position: relative;

}

.client-text {

    border-bottom: 2px solid;
    position: absolute;
    bottom: 0;
    right: 0;
}

.backend-text {

    color: #A8A8A8;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sort-text {
    position: absolute;
    bottom: 0;
    left: 10%;
}

.button-arrow {
    border: none;
    background: white;
}

/*bottom div*/

.bottom-div {
    width: 98%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
}

.user-project {
    width: 25%;
    height: 95px;
    background-image: url(/Images/5-Users-screen_08.gif);
    background-repeat: no-repeat;
    margin: 20px 0 20px 10px;
    position: relative;
    left: 60px;
}

.user-image {
    height: 100%;
    width: 30%;
}

.user-project:hover {
    background-image: url(/Images/5-2-Users-screen-User-HOVE1R_05.gif);
    background-repeat: no-repeat;
    border-radius: 15px;
    color: white;
}

.bolded-name {
    margin-top: 15px;
    text-align: center;
    font-weight: 800;

}

.project-name,
.position-name {
    position: absolute;
    left: 100px;
}

.position-name {
    top: 50px;
}

/*popup*/

.popup {
    display: none;   
    width: 100vw;
    height: 110vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;

}

.create__user {
    width: 35vw;
    height: 35vh;
    background: white;
    position: relative;
    top: 45%;
    left: 35%;
    box-shadow: 1px 1px 15px #1D1D1D;
    border-radius: 20px;

}

.icons {
    width: 90%;
    height: 40px;
    padding: 10px 10px 0 10px;
}

.fa-remove {
    float: right;

}

.fa-remove,
.fa-info-circle {
    color: #3c3c3c;
    z-index: 200;
}
.fa-exclamation-circle {
    margin-left: 30px;
}

.user__button {
    background: white;
    border: none;
}

.button__user2 {
    float: right;
}

.create__user-text {
    width: 70%;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50px;
}

.create-user-text {
    color: #3c3c3c;
    font-size: 25px;
    z-index: -20;
}

.user__info {
    width: 100%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
}
.user__photo {
    display: block;
    float: left;
    width: 8vw;
    height: 12vh;
}
.text-under-image {
    text-align: center;
    font-size: 16px;
    position: relative; 
    top: -10px;
}

.cancel__save {
    width: 100%;
    height: 40px;
}
.user-info-bold {
    font-weight: bold;
    margin-right: 10px;
}
.user__info-text{
margin-top: 10px;
}
/*cancel/save buttons*/
.cancel {
    background: white;
}
.save {
    background: black;
    color: white;
}
.casa {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid;
    float: right;
    margin-right: 10px;
}
